
<div id='login-page'>
  <form action="/auth/twitter" method="get">
    <button id='twitter-login-button' type='submit'><img alt="Sign in with Twitter" src="https://g.twimg.com/dev/sites/default/files/images_documentation/sign-in-with-twitter-link.png"></button>
  </form>
</div>
