<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<script src="https://use.fontawesome.com/f3f0aa6a92.js"></script>

<div class='alerts'>
  <ul>
  <li><%= flash[:notice] %></li>
  </ul>
</div>

<div id='login-page'>
  <span class="close">&times;</span>
  <div class="login-background"><%= image_tag("login_sun") %></div>
  <div class="login-interior">
    <h1>Welcome to goatogether!</h1>
    <p>An application to explore your area and plan journeys with your friends! Goatogether provides a map-based service to organize and collect your own Twitter posts and moments.</p>
    <div class="login-twitter-details">
      <div class="twitter-permissions">
        <ul>
          <li>Explore neat things happening in your area.</li>
          <li>Plans journeys and invite your friends.</li>
          <li>Keep track of your moments while you're on the road.</li>
          <li>See a map of your pinned moments.</li>
        </ul>
      </div>
      <div class="twitter-login">
        <form action="/auth/twitter" method="get">
          <button id='twitter-login-button' type='submit'><i class="fa fa-twitter" aria-hidden="true"></i> Sign in with Twitter</button>
        </form>
        <span>Don't have a twitter account?</span>
        <a href="https://twitter.com/signup?lang=en">Join Twitter</a>
      </div>
    </div>
  </div>
</div>

