
<div id='login-page'>
  <form action="/auth/twitter" method="get">
    <button id='twitter-login-button' type='submit'><img alt="Sign in with Twitter" src="https://g.twimg.com/dev/sites/default/files/images_documentation/sign-in-with-twitter-link.png"></button>
  </form>
</div>

<div id='inst-login-page'>
  <form action="https://api.instagram.com/oauth/authorize/?client_id=7e440890839449b5a5ee3961e3c27cfd&redirect_uri=http://findmyforest.herokuapp.com/&response_type=token&scope=basic+public_content+follower_list+comments+relationships+likes" method="get">
    <button id='inst-login-button' type='submit'><img alt="Sign in with Inst"></button>
  </form>
</div>
