<h2>@<%= @user.name %>'s Profile</h2>

<section id='user-summary' class='summary'>
    <ul>
      <li class='user-name'><%= @user.provider %> handle: @<%= @user.name %></li>
      <li>Member since <%= @user.created_at.strftime("%B %-m, %Y") %></li>
    </ul>

</section>
