<div class="begin-form">
  <form>
    <label>Name</label>
    <input type="text" name="name" placeholder="Big Sur road trip">
    <label>Hashtag</label>
    <input type="text" name="hashtag" placeholder="#bigsur">
    <label>Friends</label>
    <input type="text" name="friends" placeholder="@goatogether, @my_dog">
    <label>Start Date</label>
    <input type="date" name="date">
    <label>Time</label>
    <input type="time" name="time">
    <input type="submit" value="Let's go!">
  </form>
</div>
