<div class='journey-show'>
  <h2><%= @journey.name %></h2>
  <div class="journey-details">
    <p><%= format_time(@journey.start_time) %> - <%= format_time(@journey.end_time) %></p>
  </div>

<div class="all-tweets"></div>
<div class='hide'>
 <div class="results-data hidden" aria-hidden="true"><%=sanitize(@combined_results)%></div>
</div>
</div>
</div>
