<div class='journey-show'>
  <h2 class='journey-show-name'><%= @journey.name %></h2>
  <p><%= format_time(@journey.start_time) %> - <%= format_time(@journey.end_time) %></p>
  <div class='hide'>
   <div class="results-data hidden" aria-hidden="true"><%=sanitize(@combined_results)%></div>
  </div>
</div>
